button{
    font-size: 1.5rem;
    padding: .5rem;
    border-radius: .3rem;
    background: white;
    border: 1px solid grey;
}
button:hover{
    cursor: pointer;
}

#container{
    flex-flow: column;
    max-width: 33%;
    margin: auto;
    background: rgba(0,128,0,.2);
    border:1px solid grey;
    border-radius: 1rem;
    padding: 1rem;
}

#window{
    font-size: 1.2rem;
    padding: 1rem .2rem .5rem;
    text-align: right;
    background: rgba(1,1,1,.1);
}

#controls{
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

#total{
    grid-column: 2/4;
}

